<div class="row navbar navbar-inverse" style="margin:0">
    <div class="row hidden-xs" style="margin:0">
        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-sm-5 col-xs-5">
            <h4 style="color: #FFFFFF; border-bottom: 1px solid #695d69; padding-bottom: 10px; margin-top: 30px;">
                最新文章</h4>
            {% for article in latestblogs %}

                <div class="row" style="margin: 10px;margin-left: 0; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                    <span style="color: #959595;">({{ article.createDate }})</span>
                    <a title="{{ article.title }}" style="color: #959595;"
                       href="{{ path('blog_show', {'blogId':article.id}) }}"
                       onclick="_czc.push(['_trackEvent', '最新文章', '点击', '{{ article.title }}']);"
                    >{{ article.title }}</a>
                </div>

            {% endfor %}
            <br/>
        </div>

        <div class="col-sm-5 col-xs-5">
            <h4 style="color: #FFFFFF; border-bottom: 1px solid #695d69; padding-bottom: 10px; margin-top: 30px;">
                最热文章</h4>
            {% for article in tophotblogs %}

                <div class="row" style="margin: 10px;margin-left: 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                    <span style="color: #FFFFFF; background-color: #AAAAAA; border-radius: 12px;padding-left: 5px;padding-right: 5px;">{{ article.pv }}</span>
                    <a title="{{ article.title }}" style="color: #959595;"
                       href="{{ path('blog_show', {'blogId':article.id}) }}"
                       onclick="_czc.push(['_trackEvent', '最热文章', '点击', '{{ article.title }}']);"
                    >{{ article.title }}</a>
                </div>

            {% endfor %}
            <br/>
        </div>
    </div>


    <div class="row" style="margin-right: 0">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-xs-12 text-center" style="color: #959595;margin-bottom: 10px;">
            {% if app.request.host != 'localhost' %}
                <script type="text/javascript">
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1258402137'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258402137' type='text/javascript'%3E%3C/script%3E"));
                </script>
            {% endif %}
            Copyright © <a href="{{ path('homepage') }}" onclick="_czc.push(['_trackEvent', '底部首页', '点击']);">shareditor.com</a> | 京ICP备13047771号 | shareditor.com^_^gmail.com
        </div>
    </div>
</div>